@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Passion One', cursive;
    padding: 50px; 
    font-size: 1.5em;  
}

header > h1 {
    font-variant: small-caps;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    font-family: 'Sriracha', cursive;
    font-size: 1.5em;
    line-height: 50px;
    font-weight: bold;
    font-style: italic;
    padding: 70px 0px 70px 35px;
}

div {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.59);
    margin-left: -10px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.438) 5px 5px 5px;
}

section#v2 {
    background: white url('imagens/joaninha.jpg') center right/cover no-repeat fixed;
    color: white;
}

section#v4 {
    background: white url('imagens/livro.jpg') center center/cover no-repeat fixed;
    color: white;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 10px;

}