@charset "UTF-8";

body {
    background: url('../imagens/fundo-madeira.jpg') center center/cover no-repeat fixed;
    
    height: 95vh;
    width: 95vw;
    position: relative;
}

#iphone {
    position: absolute;
    top: 5%;
    left: 40%;
}

/*
#iphone {
    
    height: 400px;
    width: 200px;
    background: url('../imagens/frame-iphone.png') center center/cover no-repeat;


    position: absolute;
    top: 200px;
    left: 660px;
}
*/


iframe {
    background-color: white;
    background-image: url('../imagens/tela-home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    height: 470px;
    width: 263px;
    top: 15.5vh;
    left: 39.6vw;
    position: absolute;
}

div {
    text-align: right;
}


a img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
    margin: 10px;

}

a img:hover {
    height: 55px;
    width: 55px;
    transform: translate(-3px,-3px);
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
    transition: height 0.5s, width 0.5s, transform 0.5s;
    
}